<?xml version="1.0" encoding="UTF-8"?>
<!-- Possible fix here: https://social.technet.microsoft.com/Forums/WINDOWS/en-US/3e9e48d4-ab33-4b75-95e2-2a6678ee02b9/sql-server-2016-express-localdb-bootstrapper-package-download-fails?forum=sqlexpress -->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
    <util:RegistrySearch Id="Sql32"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\Microsoft SQL Server Local DB\Installed Versions\13.0"
                         Value="ParentInstance"
                         Result="exists"
                         Variable="Sql32"/>
    <util:RegistrySearch Id="Sql64"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\Microsoft SQL Server Local DB\Installed Versions\13.0"
                         Value="ParentInstance"
                         Result="exists"
                         Variable="Sql64"
                         Win64="yes"/>
    <PackageGroup Id="LOCALDB">
      <MsiPackage Id="LOCALDB"
                  DisplayName="Microsoft SQL Server 2016 LocalDB"
                  Permanent="yes"
                  Visible="no"
                  Vital="yes" 
                  DisplayInternalUI="no"
                  SourceFile="Redist\SqlLocalDB.msi"
                  ForcePerMachine="yes"
                  InstallCondition="NOT (Sql32) AND NOT (Sql64)">
        <MsiProperty Name="IACCEPTSQLLOCALDBLICENSETERMS" Value="YES"/>
      </MsiPackage>
    </PackageGroup>
	</Fragment>
</Wix>
